@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
	--theme-font-family-base: 'Montserrat', sans-serif;
	--theme-font-family-heading: 'Montserrat', sans-serif;
	/* ... */
}

html,
body {
	@apply h-full;
}
